.shopping-cart {
    width: 100%;
    color: #fff;
}

.shopping-cart .open {
    max-width: 550px;
}

.shopping-cart .open>h3 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart .open>h3>span {
    margin-left: 10px;
}

.shopping-cart .notification {
    color: #fff;
    text-align: center;
    margin: 10px;
}

.checkout-form {
    padding: 16px;
}

.checkout-form>h3 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-form>h3>span {
    margin-left: 10px;
}

.checkout-form .input-field {
    width: 100%;
    margin: 5px 0;
}

.checkout-form .input-field .label {
    color: #fff;
}

.checkout-form .input-field .control {
    width: 100%;
    margin: 5px 0;
}

.checkout-form .input-field .control input {
    width: 100%;
    height: 36px;
    padding: 0 15px;
    border-radius: 8px;
    border: solid 1px #e4e4e4;
    flex: 1;
    font-size: 16px;
}

.checkout-success {
    width: 100%;
    padding: 1rem;
}

.checkout-success>h3 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-cart .CartTable {
    width: 100%;
    margin: 0 10px;
}

.shopping-cart .CartTable .header {
    display: flex;
    flex-direction: column;
    background: var(--pure-white);
    border: solid 1px var(--border-color);
    border-radius: 4px;
    width: 100%;
}

.shopping-cart .receipt {
    display: flex;
    flex-direction: column;
    background: var(--pure-white);
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}

.shopping-cart .header-row {
    display: flex;
    height: 50px;
    background: var(--dark-blue);
    margin-bottom: 15px;
}

.shopping-cart .product-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: solid 1px var(--border-color);
}

.shopping-cart .header-row span {
    flex: 1;
    color: var(--pure-white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    font-weight: 600;
    margin-left: 15px;
}

.shopping-cart .header-row span.center {
    display: flex;
    justify-content: center;
}

.shopping-cart .product-row span {
    flex: 1;
}

.shopping-cart .flex-2 {
    flex: 2;
    padding-left: 10px;
}

.shopping-cart .product-row span.center {
    display: flex;
    justify-content: center;
}
.shopping-cart .receipt {
    display: flex;
    flex-direction: column;
    background: var(--pure-white);
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}

.shopping-cart .receipt .receipt-subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.shopping-cart .receipt .label {
    font-weight: 600;
    padding-left: 10px;
}

.shopping-cart .receipt span {
    flex: 1;
}

.shopping-cart .receipt .receipt-taxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.shopping-cart .receipt .receipt-total {
    border-top: solid 1px var(--border-color);
}

.shopping-cart .receipt .receipt-subtotal, .shopping-cart .receipt .receipt-taxes, .shopping-cart .receipt .receipt-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
} 
a, span, div, p, h1, h2, h3, h4, h5, h6, ul, ol {
    margin: 0;
    padding: 0;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: var(--font-dark);
}

.shopping-cart .receipt span.center {
    display: flex;
    justify-content: center;
    font-weight: 600;
}