nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lavenderblush;
    padding: 20px 80px;
}

#navitems{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#navitems ul{
    text-align: right;
}

#navitems li{
    display: inline-block;
    padding: 0 20px;
    position: relative;

}


#navitems li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
}

